* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px;
}

/* Nội dung chính */
.content {
    display: flex;
    gap: 20px;
}

/* Sidebar bên trái */
.content-left {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-left-title p {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Phần trung tâm */
.content-center {
    flex: 3;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-center img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.center-sort {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
}

.products{
    width: 100%;
}